/* Initial cleanup
----------------------------------------------- */
html, body { margin: 0; padding: 0; }


/* Main structure and positioning
----------------------------------------------- */
body { min-width: 760px; text-align: center; font-family: Verdana, Helvetica, Arial, sans-serif; font-size: 76%; line-height: 120%; }
#wrapper {  width:98%;  text-align: left; min-width:760px; margin:0 1%; }
body .primary { width:100%; float: left; }
body .primary-span { padding-left: 0; padding-right: 220px; clear: both; }
body .secondary { width: 200px; float: right; margin-right:-220px; }
body .secondary-span { padding-left: 0; padding-right: 520px; clear: both; }
#content {padding-right:240px;}
#footer {padding-right:220px;}
#navigation {padding-right:220px;}
#header, #content { margin-bottom: 2em; padding-left: 20px; padding-right: 20px; }
#footer, #footer-include { clear: both; }

/* Fix floats
----------------------------------------------- */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */


/* Banner
----------------------------------------------- */
#rtr3-header-image a { text-decoration: none; border: none; }
#rtr3-header-image a img { border: none; }

/* Navigation
----------------------------------------------- */
#navigation a { text-decoration: none; }
#navigation a:link, #navigation a:visited, #navigation a:active {color:#005469;}
#navigation ul.primary a:hover {color:#A8001C;}
#navigation ul.primary { list-style: none; margin: 0; padding: 0.5em 0; }
#navigation ul.primary li { display: inline; margin: 0 1em 0 0; }
#navigation div.secondary { padding: 0.5em 0; }
#navigation div.secondary p { margin: 0; }
body #navigation { border: 1px solid #005469; background-color: #FFFFFF; padding-left: 5px; }
body #navigation .secondary p { text-align: right; }
#wrapper .nav-current:link, #wrapper .nav-current:visited, #wrapper .nav-current:active {font-weight: bold; color: #005469; }
#wrapper .nav-current:hover { font-weight: bold; color: #A8001C; }


/* Links
--------------------------------------- */

#content a {
	text-decoration: none;
}

#content a:link, #content a:active {
	color: #005469;
	border-bottom: 1px solid #80B1CC;
	}
	
#content a:visited {
	color: #906200;
	border-bottom: 1px solid #B0B5A9;
	}

#content a:hover {
	color: #A8001C;
	border-bottom: 1px solid #B895B2;
	}


/* Footer
--------------------------------------- */
#footer { border: 1px solid #005469; background-color: #FFFFFF; padding: 0.5em 220px 0 5px; margin: 0 20px; }
#footer ul { list-style: none; margin:0 0 0.5em; padding:0; }
#footer ul li { display: inline; margin: 0 0.7em 0 0; }
#footer a {text-decoration: none; }
#footer a:link, #footer a:active, #footer a:visited {	color: #005469; }
#footer a:hover {	color: #A8001C; }


/* Intersection Table
--------------------------------------- */
#intersect-table td { font:11px Verdana, Arial, Helvetica, sans-serif; color:#001122; }

/* Books Table
--------------------------------------- */
#books-table td {
		margin: 10px;
		padding: 10px;
		border-collapse: collapse;
		width: 100%;
	}
#books-small-table td {
	margin: 4px;
	padding: 4px;
	border-collapse: collapse;
	width: 100%;
}




	
/* Class Styles */
	
.bodyText {
	color:#001122;
	line-height:17px;
	margin-top:0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	}

 .metadata {
	font-size: 0.8em;
	color: #808080; 
	}

	
.pageName{
	font-family: 'Times New Roman', Times, serif; font-size: 3em; font-weight: bold;
	color: #006699;
	line-height:30px;
	}

.subHeader {
	font-family: 'Times New Roman', Times, serif; font-size: 2em; font-weight: normal;
	color: #006699;
	line-height:50px;
	border-bottom: 1px solid #006699
	}

.quote {
	font: 20px Verdana, Arial, Helvetica, sans-serif;
	color: #759DA1;
	line-height:30px;
	}
	
.smallText {
	font: 10px Verdana, Arial, Helvetica, sans-serif;
	color: #001122;
	}

a.navText:link {color: #001122}
a.navText:visited {color: #001122}
a.navText:hover {color: #3366CC}
	
.navText {
	font: 11px Verdana, Arial, Helvetica, sans-serif;
	color: #001122;
	line-height:16px;
	letter-spacing:.1em;
	text-decoration: none;
	}